:root {
    --color-primary: #4358D0;// #5924b1;
    --color-primary-light: #c750c2; //#5d22bd;

    --color-secondary: #17194a;
    --color-secondary-light: #9130f3;
    --color-secondary-dark: #42186e;

    --color-green: #1ebf73;

    --color-button: #f9bf28;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    color: rgb(92, 92, 92);
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top right, var(--color-primary), var(--color-primary-light));
    background-size: cover;
    height: 100vh;
    /*background: repeating-radial-gradient(
        circle at top right,
        var(--color-primary),
        var(--color-primary) 25rem,
        var(--color-primary-light) 20px, 
        var(--color-primary-light) 50rem
      );
    */
}